.mainContent {
    padding: 100px 0;
}


.mainContent h2 {
    font-size: 50px;
    font-weight: bolder;
    color: tomato;
    text-align: center;
    margin: 0 0 50px 0;
}

.mainContent p {
    font-size: 15px;
    text-align: center;
    margin: 0 0 30px 0;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainContent .inner figure {
    flex: 1;
}

.mainContent .inner img {
    width: 100%;
}